@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #100f0f !important;
}

/* Global Classes */
.max-w-300px {
  max-width: 300px;
}

.text-decoration-none {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #e50914;
}

.navbarWhenScrolled {
  background-color: #00000080 !important;
  backdrop-filter: blur(20px);
}
.navbarNoScrolled {
  background-color: transparent !important;
  backdrop-filter: none;
}

.align-items-center {
  display: flex;
  align-items: center;
}
